*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}


body {
  color: #fff;
}

.bg__video{
  object-fit: cover;
  width:100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
.quiz__heading{
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 2% 0;
}

.quiz__question{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.quiz__timer{
  margin: 12px 0;
}

.quiz__answer{
  outline: none;
  color: black;
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 1.5rem;
  padding: 10px 12px;
  font-family: 'Open Sans', sans-serif;
}

.quiz__next{
  outline: none;
  color: black;
  display: flex;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  padding: 10px 20px;
}


.space-above {
  margin-top: 1em;
}
/* #player-2,#player-3,#player-1{
  position: relative;
  left:150px; top:200px;
} */

.quiz__question{
 display: flex;
 justify-content: center;
}

.quiz__timer{
  display: flex;
  justify-content: center;
}

#players{
  margin: 15px 0;
  display: flex;
  justify-content: center;
}
.player {

  align-self: baseline;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.name {
  height: 2.5em;
  overflow: hidden;
}

.name.editable-unsaved {
  font-weight: 250;
}

.name.editable-click {
  border-bottom: none;
}

.name.editable-click:hover {
  border-bottom: dashed 1px #0088cc;
}

.score {
  font-size: 60pt;
  padding-bottom: 0.5em;
}

.buttons {
  margin-bottom: 2em;
}

.disabled {
  background-color: #777;
}
.buzzed {
  background-color: rgb(255, 60, 0);
}
#footer {
  color: #333;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0.5em;
}

#reset {
  position: fixed;
  top: 0.5em;
  left: 0.5em;
}

#help {
  position: fixed;
  top: 0.5em;
  right: 0.5em;
}

#help a, #help a:visited, #reset a, #reset a:visited {
  color: #555;
  font-size: 18pt;
  outline: none;
}

#footer a, #footer a:visited {
  color: #555;
}

.glyphicon-trash{
  color: #fff;
  box-shadow: 4px 4px 5px red;
}